<div id="mainContainer">

<ul>
    <li>Name: 
    <%=@arr[1][0]%>
    </li>

    <li>Price: $<%=@arr[1][1]%>
    </li>

    <li>Description: 
    <%=@arr[1][2]%>
    </li>

    <li>Image_src:
    <img class="cookieImages" src=<%=@arr[1][3]%>>
    
    </li>
</ul>


            
        </div>

        <div id="split">
            
            

        </div>

        <div id="secondMainContainer">

        <ul>
    <li>Name: 
    <%=@arr[2][0]%>
    </li>

    <li>Price: $<%=@arr[2][1]%>
    </li>

    <li>Description: 
    <%=@arr[2][2]%>
    </li>

    <li>Image_src: 
    <img class="cookieImages" src=<%=@arr[2][3]%>>
    </li>
</ul>

<ul>
    <li>Name: 
    <%=@arr[3][0]%>
    </li>

    <li>Price: $<%=@arr[3][1]%>
    </li>

    <li>Description: 
    <%=@arr[3][2]%>
    </li>

    <li>Image_src: 
    <img class="cookieImages" src=<%=@arr[3][3]%>>
    </li>
</ul>

           
        </div>

